<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener
			class-name="com.automationPractise.Utils.CustomerListener" />
		<listener
			class-name="com.automationPractise.retryLogic.TransformerForRetry" />
		<listener
			class-name="com.automationPractise.ExtentReports.ExtentReportListener"/>


	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.automationPractise.Tests.ContactUsPageTest" />
			<class name="com.automationPractise.Tests.MyAccountPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
